* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
}


.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul li + li {
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li + li + li {
    padding-top: 24px;
    border-top: 1px solid #323238;
}


.card ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color: #E1E1E6;
}

body {
    
    background: #121214 var(--background) no-repeat top center/cover;
    font-family: 'Roboto', sans-serif;
}

#app {
    
    width: fit-content;
    margin: auto;
    padding-top: 52px;

}

header {
    margin-top: 33px;
    margin-bottom: 63px;
    text-align: center;

}

main {
    
    
}

:root {
    --card-color-primary: #F7DD43;
    --card-date-color-border: #746615;
    --card-bg-color: #1D1C19;
    --background: url(./assets/background-color-yellow.svg);

}

body.blue {
    --card-color-primary: #338AF3;
    --card-date-color-border: #338AF3;
    --card-bg-color: #202024;
    --background: url(./assets/background-color-blue.svg);

}
body.green {
    --card-color-primary: #047C3F;
    --card-date-color-border: #047C3F;
    --card-bg-color: #1A1F1B;
    --background: url(./assets/background-color-green.svg);

}

.card {
    padding: 32px 23px;
    background: var(--card-bg-color);
    border-radius: 6px;
    border-bottom: 1px solid var(--card-color-primary);
    text-align: center;


    
}

.card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--card-date-color-border);
    padding: 8px 16px;
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    color: #F7DD43;
    
    
}

.card h2 span {
    
    color: #E1E1E6;
    font-size: 14px;
    text-transform: uppercase;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
    transition: transform 0.3s ;
}

.card {
    opacity: 0;
    animation: appear 2s forwards;
}

@keyframes appear {
    0% {
        
        transform: translateY(-50px);
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@media (min-width: 700px) {
    #cards {
        max-width: 670px;
        flex-direction: row;
        flex-wrap: wrap;

    }
}
